USE [GSB_PPE3]
GO
/****** Object:  Table [dbo].[activite_compl]    Script Date: 29/11/2018 16:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activite_compl](
	[AC_NUM] [int] NOT NULL,
	[AC_DATE] [date] NULL,
	[AC_LIEU] [varchar](25) NULL,
	[AC_THEME] [varchar](10) NULL,
	[AC_MOTIF] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AC_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[composant]    Script Date: 29/11/2018 16:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[composant](
	[CMP_CODE] [varchar](4) NOT NULL,
	[CMP_LIBELLE] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[CMP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[constituer]    Script Date: 29/11/2018 16:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[constituer](
	[MED_DEPOTLEGAL] [varchar](10) NOT NULL,
	[CMP_CODE] [varchar](4) NOT NULL,
	[CST_QTE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MED_DEPOTLEGAL] ASC,
	[CMP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delegue_regional]    Script Date: 29/11/2018 16:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delegue_regional](
	[DEL_MATRICULE] [varchar](10) NOT NULL,
	[REG_CODE] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DEL_MATRICULE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dosage]    Script Date: 29/11/2018 16:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dosage](
	[DOS_CODE] [varchar](10) NOT NULL,
	[DOS_QUANTITE] [varchar](10) NULL,
	[DOS_UNITE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[DOS_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[famille]    Script Date: 29/11/2018 16:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[famille](
	[FAM_CODE] [varchar](3) NOT NULL,
	[FAM_LIBELLE] [varchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[FAM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formuler]    Script Date: 29/11/2018 16:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formuler](
	[MED_DEPOTLEGAL] [varchar](10) NOT NULL,
	[PRE_CODE] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MED_DEPOTLEGAL] ASC,
	[PRE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[interagir]    Script Date: 29/11/2018 16:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interagir](
	[MED_PERTURBATEUR] [varchar](10) NOT NULL,
	[MED_PERTURBE] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MED_PERTURBATEUR] ASC,
	[MED_PERTURBE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inviter]    Script Date: 29/11/2018 16:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inviter](
	[AC_NUM] [int] NOT NULL,
	[PRA_NUM] [int] NOT NULL,
	[SPECIALISTEON] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AC_NUM] ASC,
	[PRA_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicament]    Script Date: 29/11/2018 16:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicament](
	[MED_DEPOTLEGAL] [varchar](10) NOT NULL,
	[MED_NOMCOMMERCIAL] [varchar](25) NULL,
	[FAM_CODE] [varchar](3) NOT NULL,
	[MED_COMPOSITION] [varchar](255) NULL,
	[MED_EFFETS] [varchar](255) NULL,
	[MED_CONTREINDIC] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MED_DEPOTLEGAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[motif]    Script Date: 29/11/2018 16:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[motif](
	[MOT_CODE] [varchar](5) NOT NULL,
	[MOT_LIBELLE] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MOT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[offrir]    Script Date: 29/11/2018 16:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[offrir](
	[VIS_MATRICULE] [varchar](10) NOT NULL,
	[RAP_NUM] [int] NOT NULL,
	[MED_DEPOTLEGAL] [varchar](10) NOT NULL,
	[OFF_QTE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VIS_MATRICULE] ASC,
	[RAP_NUM] ASC,
	[MED_DEPOTLEGAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posseder]    Script Date: 29/11/2018 16:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posseder](
	[PRA_NUM] [int] NOT NULL,
	[SPE_CODE] [varchar](5) NOT NULL,
	[POS_DIPLOME] [varchar](10) NULL,
	[POS_COEFPRESCRIPTION] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRA_NUM] ASC,
	[SPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[praticien]    Script Date: 29/11/2018 16:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[praticien](
	[PRA_NUM] [int] NOT NULL,
	[PRA_NOM] [varchar](25) NULL,
	[PRA_PRENOM] [varchar](30) NULL,
	[PRA_ADRESSE] [varchar](50) NULL,
	[PRA_CP] [varchar](5) NULL,
	[PRA_VILLE] [varchar](25) NULL,
	[PRA_COEFNOTORIETE] [float] NULL,
	[PRA_COEFCONFIANCE] [float] NULL,
	[TYP_CODE] [varchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PRA_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescrire]    Script Date: 29/11/2018 16:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescrire](
	[MED_DEPOTLEGAL] [varchar](10) NOT NULL,
	[TIN_CODE] [varchar](5) NOT NULL,
	[DOS_CODE] [varchar](10) NOT NULL,
	[PRE_POSOLOGIE] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[MED_DEPOTLEGAL] ASC,
	[TIN_CODE] ASC,
	[DOS_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[presentation]    Script Date: 29/11/2018 16:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[presentation](
	[PRE_CODE] [varchar](2) NOT NULL,
	[PRE_LIBELLE] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PRE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[presenter]    Script Date: 29/11/2018 16:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[presenter](
	[MED_DEPOTLEGAL] [varchar](10) NOT NULL,
	[VIS_MATRICULE] [varchar](10) NOT NULL,
	[RAP_NUM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MED_DEPOTLEGAL] ASC,
	[VIS_MATRICULE] ASC,
	[RAP_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rapport_visite]    Script Date: 29/11/2018 16:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rapport_visite](
	[VIS_MATRICULE] [varchar](10) NOT NULL,
	[RAP_NUM] [int] NOT NULL,
	[PRA_NUM] [int] NOT NULL,
	[PRA_NUM_REMPLACANT] [int] NULL,
	[RAP_DATE_VISITE] [date] NULL,
	[RAP_DATE_SAISIE] [date] NULL,
	[RAP_BILAN] [varchar](255) NULL,
	[RAP_MOTIF_AUTRE] [varchar](255) NULL,
	[MOT_CODE] [varchar](5) NOT NULL,
	[RAP_DOCUMENTATION] [int] NOT NULL,
	[RAP_SAISIEDEFINITIVE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VIS_MATRICULE] ASC,
	[RAP_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[realiser]    Script Date: 29/11/2018 16:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[realiser](
	[AC_NUM] [int] NOT NULL,
	[VIS_MATRICULE] [varchar](10) NOT NULL,
	[REA_MTTFRAIS] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[AC_NUM] ASC,
	[VIS_MATRICULE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[region]    Script Date: 29/11/2018 16:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[region](
	[REG_CODE] [varchar](2) NOT NULL,
	[SEC_CODE] [varchar](1) NOT NULL,
	[REG_NOM] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[REG_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[responsable]    Script Date: 29/11/2018 16:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[responsable](
	[RES_MATRICULE] [varchar](10) NOT NULL,
	[SEC_CODE] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[RES_MATRICULE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[secteur]    Script Date: 29/11/2018 16:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[secteur](
	[SEC_CODE] [varchar](1) NOT NULL,
	[SEC_LIBELLE] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[SEC_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[specialite]    Script Date: 29/11/2018 16:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[specialite](
	[SPE_CODE] [varchar](5) NOT NULL,
	[SPE_LIBELLE] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[SPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[travailler]    Script Date: 29/11/2018 16:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[travailler](
	[VIS_MATRICULE] [varchar](10) NOT NULL,
	[JJMMAA] [date] NOT NULL,
	[REG_CODE] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JJMMAA] ASC,
	[VIS_MATRICULE] ASC,
	[REG_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_individu]    Script Date: 29/11/2018 16:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_individu](
	[TIN_CODE] [varchar](5) NOT NULL,
	[TIN_LIBELLE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TIN_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_praticien]    Script Date: 29/11/2018 16:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_praticien](
	[TYP_CODE] [varchar](3) NOT NULL,
	[TYP_LIBELLE] [varchar](25) NULL,
	[TYP_LIEU] [varchar](35) NULL,
PRIMARY KEY CLUSTERED 
(
	[TYP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visiteurs]    Script Date: 29/11/2018 16:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visiteurs](
	[VIS_MATRICULE] [varchar](10) NOT NULL,
	[VIS_NOM] [varchar](25) NULL,
	[VIS_PRENOM] [varchar](50) NULL,
	[VIS_ADRESSE] [varchar](50) NULL,
	[VIS_CP] [varchar](5) NULL,
	[VIS_VILLE] [varchar](30) NULL,
	[VIS_DATEEMBAUCHE] [date] NULL,
	[VIS_LOGIN] [varchar](20) NULL,
	[VIS_MDP] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[VIS_MATRICULE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activite_compl] ADD  DEFAULT (NULL) FOR [AC_DATE]
GO
ALTER TABLE [dbo].[activite_compl] ADD  DEFAULT (NULL) FOR [AC_LIEU]
GO
ALTER TABLE [dbo].[activite_compl] ADD  DEFAULT (NULL) FOR [AC_THEME]
GO
ALTER TABLE [dbo].[activite_compl] ADD  DEFAULT (NULL) FOR [AC_MOTIF]
GO
ALTER TABLE [dbo].[composant] ADD  DEFAULT (NULL) FOR [CMP_LIBELLE]
GO
ALTER TABLE [dbo].[constituer] ADD  DEFAULT (NULL) FOR [CST_QTE]
GO
ALTER TABLE [dbo].[dosage] ADD  DEFAULT (NULL) FOR [DOS_QUANTITE]
GO
ALTER TABLE [dbo].[dosage] ADD  DEFAULT (NULL) FOR [DOS_UNITE]
GO
ALTER TABLE [dbo].[famille] ADD  DEFAULT (NULL) FOR [FAM_LIBELLE]
GO
ALTER TABLE [dbo].[inviter] ADD  DEFAULT (NULL) FOR [SPECIALISTEON]
GO
ALTER TABLE [dbo].[medicament] ADD  DEFAULT (NULL) FOR [MED_NOMCOMMERCIAL]
GO
ALTER TABLE [dbo].[medicament] ADD  DEFAULT (NULL) FOR [MED_COMPOSITION]
GO
ALTER TABLE [dbo].[medicament] ADD  DEFAULT (NULL) FOR [MED_EFFETS]
GO
ALTER TABLE [dbo].[medicament] ADD  DEFAULT (NULL) FOR [MED_CONTREINDIC]
GO
ALTER TABLE [dbo].[motif] ADD  DEFAULT (NULL) FOR [MOT_LIBELLE]
GO
ALTER TABLE [dbo].[offrir] ADD  DEFAULT (NULL) FOR [OFF_QTE]
GO
ALTER TABLE [dbo].[posseder] ADD  DEFAULT (NULL) FOR [POS_DIPLOME]
GO
ALTER TABLE [dbo].[posseder] ADD  DEFAULT (NULL) FOR [POS_COEFPRESCRIPTION]
GO
ALTER TABLE [dbo].[praticien] ADD  DEFAULT (NULL) FOR [PRA_NOM]
GO
ALTER TABLE [dbo].[praticien] ADD  DEFAULT (NULL) FOR [PRA_PRENOM]
GO
ALTER TABLE [dbo].[praticien] ADD  DEFAULT (NULL) FOR [PRA_ADRESSE]
GO
ALTER TABLE [dbo].[praticien] ADD  DEFAULT (NULL) FOR [PRA_CP]
GO
ALTER TABLE [dbo].[praticien] ADD  DEFAULT (NULL) FOR [PRA_VILLE]
GO
ALTER TABLE [dbo].[praticien] ADD  DEFAULT (NULL) FOR [PRA_COEFNOTORIETE]
GO
ALTER TABLE [dbo].[praticien] ADD  DEFAULT (NULL) FOR [PRA_COEFCONFIANCE]
GO
ALTER TABLE [dbo].[prescrire] ADD  DEFAULT (NULL) FOR [PRE_POSOLOGIE]
GO
ALTER TABLE [dbo].[presentation] ADD  DEFAULT (NULL) FOR [PRE_LIBELLE]
GO
ALTER TABLE [dbo].[rapport_visite] ADD  DEFAULT (NULL) FOR [PRA_NUM_REMPLACANT]
GO
ALTER TABLE [dbo].[rapport_visite] ADD  DEFAULT (NULL) FOR [RAP_DATE_VISITE]
GO
ALTER TABLE [dbo].[rapport_visite] ADD  DEFAULT (NULL) FOR [RAP_DATE_SAISIE]
GO
ALTER TABLE [dbo].[rapport_visite] ADD  DEFAULT (NULL) FOR [RAP_BILAN]
GO
ALTER TABLE [dbo].[rapport_visite] ADD  DEFAULT (NULL) FOR [RAP_MOTIF_AUTRE]
GO
ALTER TABLE [dbo].[realiser] ADD  DEFAULT (NULL) FOR [REA_MTTFRAIS]
GO
ALTER TABLE [dbo].[region] ADD  DEFAULT (NULL) FOR [REG_NOM]
GO
ALTER TABLE [dbo].[responsable] ADD  DEFAULT (NULL) FOR [SEC_CODE]
GO
ALTER TABLE [dbo].[secteur] ADD  DEFAULT (NULL) FOR [SEC_LIBELLE]
GO
ALTER TABLE [dbo].[specialite] ADD  DEFAULT (NULL) FOR [SPE_LIBELLE]
GO
ALTER TABLE [dbo].[type_individu] ADD  DEFAULT (NULL) FOR [TIN_LIBELLE]
GO
ALTER TABLE [dbo].[type_praticien] ADD  DEFAULT (NULL) FOR [TYP_LIBELLE]
GO
ALTER TABLE [dbo].[type_praticien] ADD  DEFAULT (NULL) FOR [TYP_LIEU]
GO
ALTER TABLE [dbo].[visiteurs] ADD  DEFAULT (NULL) FOR [VIS_NOM]
GO
ALTER TABLE [dbo].[visiteurs] ADD  DEFAULT (NULL) FOR [VIS_PRENOM]
GO
ALTER TABLE [dbo].[visiteurs] ADD  DEFAULT (NULL) FOR [VIS_ADRESSE]
GO
ALTER TABLE [dbo].[visiteurs] ADD  DEFAULT (NULL) FOR [VIS_CP]
GO
ALTER TABLE [dbo].[visiteurs] ADD  DEFAULT (NULL) FOR [VIS_VILLE]
GO
ALTER TABLE [dbo].[visiteurs] ADD  DEFAULT (NULL) FOR [VIS_DATEEMBAUCHE]
GO
ALTER TABLE [dbo].[visiteurs] ADD  DEFAULT (NULL) FOR [VIS_LOGIN]
GO
ALTER TABLE [dbo].[visiteurs] ADD  DEFAULT (NULL) FOR [VIS_MDP]
GO
ALTER TABLE [dbo].[constituer]  WITH CHECK ADD  CONSTRAINT [constituer_ibfk_1] FOREIGN KEY([CMP_CODE])
REFERENCES [dbo].[composant] ([CMP_CODE])
GO
ALTER TABLE [dbo].[constituer] CHECK CONSTRAINT [constituer_ibfk_1]
GO
ALTER TABLE [dbo].[constituer]  WITH CHECK ADD  CONSTRAINT [constituer_ibfk_2] FOREIGN KEY([MED_DEPOTLEGAL])
REFERENCES [dbo].[medicament] ([MED_DEPOTLEGAL])
GO
ALTER TABLE [dbo].[constituer] CHECK CONSTRAINT [constituer_ibfk_2]
GO
ALTER TABLE [dbo].[delegue_regional]  WITH CHECK ADD  CONSTRAINT [delegue_regional_ibfk_1] FOREIGN KEY([DEL_MATRICULE])
REFERENCES [dbo].[visiteurs] ([VIS_MATRICULE])
GO
ALTER TABLE [dbo].[delegue_regional] CHECK CONSTRAINT [delegue_regional_ibfk_1]
GO
ALTER TABLE [dbo].[delegue_regional]  WITH CHECK ADD  CONSTRAINT [delegue_regional_ibfk_2] FOREIGN KEY([REG_CODE])
REFERENCES [dbo].[region] ([REG_CODE])
GO
ALTER TABLE [dbo].[delegue_regional] CHECK CONSTRAINT [delegue_regional_ibfk_2]
GO
ALTER TABLE [dbo].[formuler]  WITH CHECK ADD  CONSTRAINT [formuler_ibfk_1] FOREIGN KEY([PRE_CODE])
REFERENCES [dbo].[presentation] ([PRE_CODE])
GO
ALTER TABLE [dbo].[formuler] CHECK CONSTRAINT [formuler_ibfk_1]
GO
ALTER TABLE [dbo].[formuler]  WITH CHECK ADD  CONSTRAINT [formuler_ibfk_2] FOREIGN KEY([MED_DEPOTLEGAL])
REFERENCES [dbo].[medicament] ([MED_DEPOTLEGAL])
GO
ALTER TABLE [dbo].[formuler] CHECK CONSTRAINT [formuler_ibfk_2]
GO
ALTER TABLE [dbo].[interagir]  WITH CHECK ADD  CONSTRAINT [interagir_ibfk_1] FOREIGN KEY([MED_PERTURBATEUR])
REFERENCES [dbo].[medicament] ([MED_DEPOTLEGAL])
GO
ALTER TABLE [dbo].[interagir] CHECK CONSTRAINT [interagir_ibfk_1]
GO
ALTER TABLE [dbo].[interagir]  WITH CHECK ADD  CONSTRAINT [interagir_ibfk_2] FOREIGN KEY([MED_PERTURBE])
REFERENCES [dbo].[medicament] ([MED_DEPOTLEGAL])
GO
ALTER TABLE [dbo].[interagir] CHECK CONSTRAINT [interagir_ibfk_2]
GO
ALTER TABLE [dbo].[inviter]  WITH CHECK ADD  CONSTRAINT [inviter_ibfk_1] FOREIGN KEY([AC_NUM])
REFERENCES [dbo].[activite_compl] ([AC_NUM])
GO
ALTER TABLE [dbo].[inviter] CHECK CONSTRAINT [inviter_ibfk_1]
GO
ALTER TABLE [dbo].[inviter]  WITH CHECK ADD  CONSTRAINT [inviter_ibfk_2] FOREIGN KEY([PRA_NUM])
REFERENCES [dbo].[praticien] ([PRA_NUM])
GO
ALTER TABLE [dbo].[inviter] CHECK CONSTRAINT [inviter_ibfk_2]
GO
ALTER TABLE [dbo].[medicament]  WITH CHECK ADD  CONSTRAINT [medicament_ibfk_1] FOREIGN KEY([FAM_CODE])
REFERENCES [dbo].[famille] ([FAM_CODE])
GO
ALTER TABLE [dbo].[medicament] CHECK CONSTRAINT [medicament_ibfk_1]
GO
ALTER TABLE [dbo].[offrir]  WITH CHECK ADD  CONSTRAINT [offrir_ibfk_1] FOREIGN KEY([MED_DEPOTLEGAL])
REFERENCES [dbo].[medicament] ([MED_DEPOTLEGAL])
GO
ALTER TABLE [dbo].[offrir] CHECK CONSTRAINT [offrir_ibfk_1]
GO
ALTER TABLE [dbo].[offrir]  WITH CHECK ADD  CONSTRAINT [offrir_ibfk_2] FOREIGN KEY([VIS_MATRICULE], [RAP_NUM])
REFERENCES [dbo].[rapport_visite] ([VIS_MATRICULE], [RAP_NUM])
GO
ALTER TABLE [dbo].[offrir] CHECK CONSTRAINT [offrir_ibfk_2]
GO
ALTER TABLE [dbo].[posseder]  WITH CHECK ADD  CONSTRAINT [posseder_ibfk_1] FOREIGN KEY([SPE_CODE])
REFERENCES [dbo].[specialite] ([SPE_CODE])
GO
ALTER TABLE [dbo].[posseder] CHECK CONSTRAINT [posseder_ibfk_1]
GO
ALTER TABLE [dbo].[posseder]  WITH CHECK ADD  CONSTRAINT [posseder_ibfk_2] FOREIGN KEY([PRA_NUM])
REFERENCES [dbo].[praticien] ([PRA_NUM])
GO
ALTER TABLE [dbo].[posseder] CHECK CONSTRAINT [posseder_ibfk_2]
GO
ALTER TABLE [dbo].[praticien]  WITH CHECK ADD  CONSTRAINT [praticien_ibfk_1] FOREIGN KEY([TYP_CODE])
REFERENCES [dbo].[type_praticien] ([TYP_CODE])
GO
ALTER TABLE [dbo].[praticien] CHECK CONSTRAINT [praticien_ibfk_1]
GO
ALTER TABLE [dbo].[prescrire]  WITH CHECK ADD  CONSTRAINT [prescrire_ibfk_1] FOREIGN KEY([MED_DEPOTLEGAL])
REFERENCES [dbo].[medicament] ([MED_DEPOTLEGAL])
GO
ALTER TABLE [dbo].[prescrire] CHECK CONSTRAINT [prescrire_ibfk_1]
GO
ALTER TABLE [dbo].[prescrire]  WITH CHECK ADD  CONSTRAINT [prescrire_ibfk_2] FOREIGN KEY([TIN_CODE])
REFERENCES [dbo].[type_individu] ([TIN_CODE])
GO
ALTER TABLE [dbo].[prescrire] CHECK CONSTRAINT [prescrire_ibfk_2]
GO
ALTER TABLE [dbo].[prescrire]  WITH CHECK ADD  CONSTRAINT [prescrire_ibfk_3] FOREIGN KEY([DOS_CODE])
REFERENCES [dbo].[dosage] ([DOS_CODE])
GO
ALTER TABLE [dbo].[prescrire] CHECK CONSTRAINT [prescrire_ibfk_3]
GO
ALTER TABLE [dbo].[presenter]  WITH CHECK ADD  CONSTRAINT [presenter_ibfk_1] FOREIGN KEY([MED_DEPOTLEGAL])
REFERENCES [dbo].[medicament] ([MED_DEPOTLEGAL])
GO
ALTER TABLE [dbo].[presenter] CHECK CONSTRAINT [presenter_ibfk_1]
GO
ALTER TABLE [dbo].[presenter]  WITH CHECK ADD  CONSTRAINT [presenter_ibfk_2] FOREIGN KEY([VIS_MATRICULE], [RAP_NUM])
REFERENCES [dbo].[rapport_visite] ([VIS_MATRICULE], [RAP_NUM])
GO
ALTER TABLE [dbo].[presenter] CHECK CONSTRAINT [presenter_ibfk_2]
GO
ALTER TABLE [dbo].[rapport_visite]  WITH CHECK ADD  CONSTRAINT [rapport_visite_ibfk_1] FOREIGN KEY([PRA_NUM])
REFERENCES [dbo].[praticien] ([PRA_NUM])
GO
ALTER TABLE [dbo].[rapport_visite] CHECK CONSTRAINT [rapport_visite_ibfk_1]
GO
ALTER TABLE [dbo].[rapport_visite]  WITH CHECK ADD  CONSTRAINT [rapport_visite_ibfk_2] FOREIGN KEY([PRA_NUM_REMPLACANT])
REFERENCES [dbo].[praticien] ([PRA_NUM])
GO
ALTER TABLE [dbo].[rapport_visite] CHECK CONSTRAINT [rapport_visite_ibfk_2]
GO
ALTER TABLE [dbo].[rapport_visite]  WITH CHECK ADD  CONSTRAINT [rapport_visite_ibfk_3] FOREIGN KEY([VIS_MATRICULE])
REFERENCES [dbo].[visiteurs] ([VIS_MATRICULE])
GO
ALTER TABLE [dbo].[rapport_visite] CHECK CONSTRAINT [rapport_visite_ibfk_3]
GO
ALTER TABLE [dbo].[rapport_visite]  WITH CHECK ADD  CONSTRAINT [rapport_visite_ibfk_4] FOREIGN KEY([MOT_CODE])
REFERENCES [dbo].[motif] ([MOT_CODE])
GO
ALTER TABLE [dbo].[rapport_visite] CHECK CONSTRAINT [rapport_visite_ibfk_4]
GO
ALTER TABLE [dbo].[realiser]  WITH CHECK ADD  CONSTRAINT [realiser_ibfk_1] FOREIGN KEY([AC_NUM])
REFERENCES [dbo].[activite_compl] ([AC_NUM])
GO
ALTER TABLE [dbo].[realiser] CHECK CONSTRAINT [realiser_ibfk_1]
GO
ALTER TABLE [dbo].[realiser]  WITH CHECK ADD  CONSTRAINT [realiser_ibfk_2] FOREIGN KEY([VIS_MATRICULE])
REFERENCES [dbo].[visiteurs] ([VIS_MATRICULE])
GO
ALTER TABLE [dbo].[realiser] CHECK CONSTRAINT [realiser_ibfk_2]
GO
ALTER TABLE [dbo].[region]  WITH CHECK ADD  CONSTRAINT [region_ibfk_1] FOREIGN KEY([SEC_CODE])
REFERENCES [dbo].[secteur] ([SEC_CODE])
GO
ALTER TABLE [dbo].[region] CHECK CONSTRAINT [region_ibfk_1]
GO
ALTER TABLE [dbo].[responsable]  WITH CHECK ADD  CONSTRAINT [responsable_ibfk_1] FOREIGN KEY([RES_MATRICULE])
REFERENCES [dbo].[visiteurs] ([VIS_MATRICULE])
GO
ALTER TABLE [dbo].[responsable] CHECK CONSTRAINT [responsable_ibfk_1]
GO
ALTER TABLE [dbo].[responsable]  WITH CHECK ADD  CONSTRAINT [responsable_ibfk_2] FOREIGN KEY([SEC_CODE])
REFERENCES [dbo].[secteur] ([SEC_CODE])
GO
ALTER TABLE [dbo].[responsable] CHECK CONSTRAINT [responsable_ibfk_2]
GO
ALTER TABLE [dbo].[travailler]  WITH CHECK ADD  CONSTRAINT [travailler_ibfk_1] FOREIGN KEY([REG_CODE])
REFERENCES [dbo].[region] ([REG_CODE])
GO
ALTER TABLE [dbo].[travailler] CHECK CONSTRAINT [travailler_ibfk_1]
GO
ALTER TABLE [dbo].[travailler]  WITH CHECK ADD  CONSTRAINT [travailler_ibfk_2] FOREIGN KEY([VIS_MATRICULE])
REFERENCES [dbo].[visiteurs] ([VIS_MATRICULE])
GO
ALTER TABLE [dbo].[travailler] CHECK CONSTRAINT [travailler_ibfk_2]
GO
